<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
</head>
<body>
<form method="post">
    <br>
    {{ form.csrf_token() }}
    {{ form.book.label }}{{ form.book }}<br>
    {{ form.press_time.label }}{{ form.press_time }}<br>
    {{ form.value.label }}{{ form.value }}<br>
    {{ form.num.label }}{{ form.num }}<br>
    {{ form.author_name.label }}{{ form.author_name }}<br>
    {{ form.language.label }}{{ form.language }}<br>
    {{ form.press.label }}{{ form.press }}<br>
    {{ form.category.label }}{{ form.category }}<br>
    {{ form.submit }}<br>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</form>

</body>
</html>